html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

* {
    margin: 0;
    padding: 0;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--secundario);
}

img {
    max-width: 100%;
}